.listaSeries {
  max-width: 800px;
  margin: 14px auto;
}

.listaSeries article {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
}

.listaSeries strong {
  margin-bottom: 14px;
  text-align: center;
  font-size: 22px;
  display: block;
}

.listaSeries img {
  width: 900px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.listaSeries a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: #fff;
  background-color: #cc020c;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
